@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-dopa-pink: #FF3399;
  --color-dopa-yellow: #FFCC00;
  --color-dopa-blue: #3399FF;
  --color-dopa-green: #33CC99;
  --color-dopa-purple: #9933FF;
  --color-dopa-bg: #FFFFFF;
  --color-dopa-text: #0F172A;
}